@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  @apply w-full mx-auto max-w-[1640px];
}

.text-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  /* Fallback for browsers that do not support -webkit-line-clamp */
  max-height: 3.6em; /* (2 lines * line-height) + ellipsis height */
}
